{% extends 'page.html.twig' %}
{% block jumbotron %}
<!--------------------------------------
HEADER
--------------------------------------->
<div class="container">
    <div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
        <div class="h-100 tofront">
            <div class="row justify-content-between">
                <div class="col-md-6 pt-6 pb-6 pr-6 align-self-center">
                    <p class="text-uppercase font-weight-bold">
                        <a class="text-danger" href="./category.html">Stories</a>
                    </p>
                    <h1 class="display-4 secondfont mb-3 font-weight-bold">
                        {{ blog.title | upper }}
                    </h1>
                    <div class="d-flex align-items-center">
                        <small class="ml-2">{{ blog.author.username }} <span class="text-muted d-block">{{ blog.publishedAt | date('D, m Y') }}</span>
                        </small>

                        <strong>{{ dump(blog.draft) }}</strong>
                    </div>
                </div>
                <div class="col-md-6 pr-0">
                    <img src="{{ blog.image }}">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header -->
{% endblock %}
{% block content %}
    <!--------------------------------------
    MAIN
    --------------------------------------->
    <div class="container pt-4 pb-4">
        <div class="row justify-content-center">
            <div class="col-lg-2 pr-4 mb-4 col-md-12">
                <div class="sticky-top text-center">
                    <div class="text-muted">
                        Share this
                    </div>
                    <div class="share d-inline-block">
                        <!-- AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                        <!-- AddToAny END -->
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <article class="article-post">
                    {{ blog.content | raw }}
                </article>
            </div>
        </div>
    </div>

{% endblock %}