{% macro render_header(main_title, path = []) %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{ main_title }}</h1>
                </div>
                <div class="col-sm-6">
                    {{ _self.render_breadcrumb(path) }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_breadcrumb(path = []) %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
            <a href="">Home</a>
        </li>
        {% if path | length > 0 %}
            {% for item in path %}
                <li class="breadcrumb-item {% if loop.last %}active{% endif %}">
                    {% if item.target is defined and item.target is not null %}
                        <a href="{{ item.target }}">{{ item.text }}</a>
                    {% else %}
                        {{ item.text }}
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ol>
{% endmacro %}