{% extends 'base.html.twig' %}
{% import 'macros/header.html.twig' as header %}
{% block body %}
    {{ header.render_header('Library', [{text: 'Add new book', target: url('app_book_new') }, {text: 'Library'}]) }}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Books catalog</h3>
                    <div class="card-tools">
                        {% if category is defined and category is not null %}
                            Category : {{ category.name }} <a href="{{ url('app_book_list') }}">Remote filter</a>
                        {% endif %}
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-4">
                    <table class="table" id="myTable">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Pages</th>
                            <th>EAN13</th>
                            <th>Rent price/day</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in books %}
                            <tr>
                                <td>{{ book.id }}</td>
                                <td>{{ book.title }}</td>
                                <td>
                                    <a href="{{ url('app_book_list_by_category', { id: book.category.id }) }}">
                                        {{ book.category.name }}
                                    </a>
                                </td>
                                <td>{{ book.author.name }}</td>
                                <td>{{ book.pages }} pages</td>
                                <td>{{ book.ean }}</td>
                                <td>${{ book.price|number_format(2, '.', ',') }}</td>
                                <td>
                                    <div class="btn-group">
                                        {% if is_granted('ROLE_MANAGER') %}
                                        <a href="{{ url('app_book_edit', {id: book.id}) }}" class="btn btn-success btn-flat" title="View book">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        {% endif %}
                                        <a href="{{ url('app_book_view', {id: book.id}) }}" class="btn btn-primary btn-flat" title="View book">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
<link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>
{% endblock javascripts %}