{% extends 'base.html.twig' %}
{% import 'macros/header.html.twig' as header %}
{% form_theme add_to_cart 'form/cart_line.html.twig' %}
{% block body %}
    {{ header.render_header(book.title, []) }}
    <div class="row">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        Details of the book
                    </h3>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>{{ book.title }}</dt>
                        <dd>
                            <ul>
                                <li><strong>Author: </strong>{{ book.author.name }}</li>
                                <li><strong>EAN 13: </strong>{{ book.ean }}</li>
                                <li><strong>Category: </strong>{{ book.category.name }}</li>
                            </ul>
                        </dd>
                    </dl>
                    {{ book.synopsis | raw}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {{ form_start(add_to_cart) }}
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        Submit a request
                    </h3>
                </div>
                <div class="card-body">
                    {{ form_row(add_to_cart, {attr: {}}) }}
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-flat">
                        <i class="fa fa-plus"> </i>
                        Add to selection
                    </button>
                </div>
            </div>
            {{ form_end(add_to_cart) }}
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
<script>
    $(document).ready(function(){
        $('.quantity-right-plus').click(function(e){
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
        });
        $('.quantity-left-minus').click(function(e){
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            if(quantity > 0){
                $('#quantity').val(quantity - 1);
            }
        });
    });
</script>
{% endblock %}